<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD //EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
   <session-factory>
   <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
   <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
   <property name="hibernate.connection.url">jdbc:mysql://kubedb:3306/test_db</property>
   <property name="hibernate.connection.username">kube</property>
   <property name="hibernate.connection.password">Kube1234</property> 
  <!--   <property name="hibernate.connection.url">jdbc:mysql://localhost/contact_info</property>
   <property name="hibernate.connection.username">root</property>
   <property name="hibernate.connection.password">123</property>-->
   <property name="hibernate.hbm2ddl.auto">update</property>
   <property name="show_sql">true</property>
   <property name="connection.pool_size">2</property>
   <mapping class="com.mindtree.Service.Entity.Contact" />
   
</session-factory>
</hibernate-configuration>
